.main{
    margin-left: 16%;
}xx
 .content-heading {
     background-color: #FFFFFF;
     padding: 15px 10px;
     height: 7%;
     display: flex;

 }
.left-heading{
    display: block;
    width: 40%;
}

.contain{

}

.right-heading{
    display: flex;
    margin-left: 45%;
    margin-top: 2%;
    font-size: 16px;
    font-family: Roboto ;
    color: black;
    font-weight: 500;
}
.home{
    color: dodgerblue;
    text-decoration: none;
}
.username{
    font-weight: normal;
    font-size: 18px;
    position: absolute;
    width: 30%;
}
.page-subtitle {
    font-size: 14px;
    font-weight: 300;
    color: #a0aeba;
}
